
h3{
    text-align: center;
    color:black;
    font-family: "Open Sans Condesed", sans-serif;
    font-size:large;

}

p{
    color:black;
    text-align: center;
    font-family: "Crinsom Text";
}